* {
    outline: 1px dotted blue;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 890px;
    height: 830px;
    background-color: burlywood;
    padding: 20px;
}


/*Title*/

.Titleimage1 {
    width: 150px;
    height: 100px;
    background-color: white;
    margin-left: 110px;
}

.Title2 {
    display: inline-block;
    font-size: 43px;
    line-height: 43px;
}

.Titleimage2 {
    width: 150px;
    height: 100px;
    background-color: white;
}


/*Main*/

.image1 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
}

.image2 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: inline-block;
    background-color: pink;
    padding: 10px;
}